@import url("setup.css");

pre,
code {
  overflow: scroll;
  font-size: 0.7rem;
}

.shortcut-highlight {
  font-family: monospace;
  background-color: rgba(101, 108, 118, 0.2);
  color: rgb(240, 246, 252);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: start;
  justify-content: center;

  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  height: 100%;
  width: 95%;
  max-width: 800px;
}

.login-form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  img {
    height: 50%;
    object-fit: contain;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    label {
      width: 100%;
      text-align: left;
      font-family: var(--base-font-family);
      font-weight: 600;

      span {
        color: var(--danger-color);
      }
    }

    input {
      background: transparent;
      border: none;
      box-shadow: none;
      text-align: center;
      width: 100%;
      height: 30px;
      padding: 0 10px;
      color: var(--text-color);
      border-bottom: 3px solid var(--text-color);
      font-family: var(--base-font-family);
    }
  }
}

.form-button {
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--text-color);
  font: var(--base-font-family);
  color: var(--text-color);
  text-align: center;
}

.form-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.input-error::after,
.input-false::after,
.title-empty::after,
.schedule-type-empty::after,
.time-picker-under::after,
.time-picker-over::after {
  color: var(--background-color);
  font-size: 0.6em;
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 5px;
}

.input-error::after {
  content: "Password is required";
  background-color: var(--danger-color);
}

.input-false::after {
  content: "Wrong password";
  background-color: var(--warning-color);
}

.title-empty::after {
  content: "Title is required";
  background-color: var(--danger-color);
}

.time-picker-under::after {
  content: "Hour or Minutes below the limit of 1 or 0";
  background-color: var(--warning-color);
}

.time-picker-over::after {
  content: "Hour or Minutes over the limit of 23 or 60";
  background-color: var(--warning-color);
}

.schedule-type-empty::after {
  content: "Schedule Type is required";
  background-color: var(--warning-color);
}

.no-string {
  color: var(--neutral-500) !important;
}

.todo-page {
  width: 100%;
  gap: 10px;
  padding: 20px 0;

  .todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .theme-toggle {
      display: flex;
      align-items: center;
      gap: 5px;

      .monochrome-theme {
        padding: 5px;
        background-color: var(--neutral-300);
        border-radius: 5px;
        display: flex;
        align-items: center;

        span {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        span:nth-child(1) {
          background-color: #23272d;
        }

        span:nth-child(2) {
          background-color: #fdfdfd;
          margin-left: -10px; /* Adjust to overlap */
          position: relative;
          z-index: 1;
        }
      }

      .color-theme {
        padding: 5px;
        background-color: var(--neutral-300);
        border-radius: 5px;
        display: flex;
        align-items: center;

        span {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        span:nth-child(1) {
          background-color: #a97bff;
        }

        span:nth-child(2) {
          background-color: #f85149;
          margin-left: -10px;
          position: relative;
          z-index: 1;
        }

        span:nth-child(3) {
          background-color: #f1e05a;
          margin-left: -10px;
          position: relative;
          z-index: 2;
        }

        span:nth-child(4) {
          background-color: #6bdd9a;
          margin-left: -10px;
          position: relative;
          z-index: 3;
        }
      }
    }
  }

  .todo-nav {
    display: flex;
    align-items: stretch;
    border: 3px solid var(--text-color);
    border-radius: 5px;

    button {
      padding: 5px 10px;
      background-color: var(--background-color);
      color: var(--text-color);

      display: flex;
      align-items: center;
      justify-content: center;
    }

    button:hover {
      color: var(--neutral-400);
    }

    .current-tab {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }

  .nav-title {
    font-weight: 400;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
  }

  .todo-time {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid var(--text-color);

    > div:nth-child(1) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > div:nth-child(2) {
      width: 100%;
      display: flex;
      align-items: stretch;
      padding: 0 10px 10px 10px;

      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      div:nth-child(2) {
        border-left: 1px solid var(--text-color);
      }
    }

    .time-date {
      width: 100%;
      text-align: center;
      font-weight: 900;
      font-size: 3rem;
    }

    .time-month {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: large;
      letter-spacing: 0.2ch;
    }

    .time-clock {
      width: 100%;
      text-align: center;
      font-size: xx-large;
    }
  }

  .todo-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid var(--text-color);
    gap: 10px;

    > div:nth-child(1) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > div:nth-child(2) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      .total-stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          width: 100%;
          text-align: left;
        }

        .todo-ratio-container {
          width: 100%;
          height: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          border-radius: 3px;
          margin: 5px 0;

          .ratio-item {
            height: 15px;
            transition: width 0.5s ease;
          }

          .schedule-ratio {
            background-color: var(--schedule-ratio-color);
          }
          .priority-ratio {
            background-color: var(--priority-ratio-color);
          }
          .task-ratio {
            background-color: var(--task-ratio-color);
          }
          .complete-ratio {
            background-color: var(--complete-ratio-color);
          }
        }

        .todo-ratio-container:hover .ratio-item:not(:hover) {
          background-color: var(--neutral-700);
        }
      }

      .fraction-stats {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 10px;

        .stats-item {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 0;

          .stats-title {
            letter-spacing: 0.3ch;

            span {
              letter-spacing: 0;
              color: var(--text-color);
            }
          }

          .stats-percent {
            padding: 0 10px;
            font-size: 2rem;
            font-weight: 600;
          }

          .schedule-ratio {
            color: var(--schedule-ratio-color);
          }
          .priority-ratio {
            color: var(--priority-ratio-color);
          }
          .task-ratio {
            color: var(--task-ratio-color);
          }
          .complete-ratio {
            color: var(--complete-ratio-color);
          }
        }
      }
    }
  }

  .todo-save {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;

    > div:nth-child(1) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > div:nth-child(2) {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid var(--text-color);

      .method-list {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-right: 1px solid var(--text-color);
        gap: 10px;

        button:nth-child(1) {
          color: #6bdd9a;
        }
        button:nth-child(2) {
          color: #74aef6;
        }
        button:nth-child(3) {
          color: #f79a8e;
        }
      }

      .interface-display {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .todo-save-interface {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          div {
            width: 100%;

            .method-link {
              width: 100%;
              border-radius: 4px;
              padding: 10px;
              background-color: var(--text-color);
              color: var(--background-color);
              border: 1px solid #ccc;
              text-align: center;

              overflow-x: scroll;
              font-family: monospace;
              white-space: nowrap;
            }
          }

          form {
            width: 100%;

            .input-box {
              width: 100%;
              font-family: monospace;
              white-space: pre-wrap;
              background-color: var(--text-color);
              color: var(--background-color);
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 4px;
              overflow-x: scroll;
              overflow-y: scroll;
              text-align: left;
            }
          }

          .save-display {
            width: 100%;
            height: 300px;
            font-family: monospace;
            white-space: pre-wrap;
            background-color: var(--text-color);
            color: var(--background-color);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow-x: scroll;
            overflow-y: scroll;
            text-align: left;
          }

          div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .method-button {
              padding: 5px 20px;
              border-radius: 5px;
              cursor: pointer;
              border: 2px solid var(--text-color);
              font: var(--base-font-family);
              color: var(--text-color);
              text-align: center;
            }

            .method-button:hover {
              color: var(--background-color);
              background-color: var(--text-color);
            }
          }
        }
      }
    }
  }

  .todo-display {
    width: 100%;

    .todo-list {
      width: 100%;
      padding-top: 10px;

      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
          padding: 10px 5px 10px 5px;
          color: var(--text-color);
          font-family: var(--base-font-family);
          font-weight: 200;

          > svg {
            margin-right: 5px;
          }

          .color-code {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 3px;
          }

          .color-code-0 {
            background-color: var(--schedule-color);
          }
          .color-code-1 {
            background-color: var(--priority-color);
          }
          .color-code-2 {
            background-color: var(--task-color);
          }
          .color-code-3 {
            background-color: var(--complete-color);
          }
        }

        span {
          padding: 0 10px 0 0;
          font-family: "Times New Roman", Times, serif;
        }
      }

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;

        gap: 5px;

        .todo-item {
          font-family: var(--base-font-family);
          width: 100%;
          padding: 10px;
          gap: 10px;
          border-bottom: 1px solid var(--neutral-200);

          display: flex;
          flex-direction: column;
          align-items: center;

          .todo-summary {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            i,
            p {
              cursor: pointer;
            }

            button:has(.fa-circle),
            button:has(.fa-circle-check),
            button:has(.fa-circle-exclamation) {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            button:has(p) {
              width: 85%;
            }

            .fa-circle-check {
              color: var(--complete-color);
            }

            .fa-circle-exclamation {
              color: var(--priority-color);
            }

            .completed {
              text-decoration: line-through;
              color: var(--neutral-400);
            }
          }

          .todo-detail {
            width: 100%;
            padding: 10px 0 0 0;
            gap: 10px;
            display: none;
            flex-direction: column;
            align-items: end;

            border-top: 1px dashed var(--text-color);
            text-align: left;

            .todo-deadline-detail {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: start;
              padding: 10px 0;
              border-top: 1px solid var(--neutral-500);
              border-bottom: 1px solid var(--neutral-500);

              .todo-detail-item {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 3px;

                p {
                  white-space: nowrap;
                }

                p:nth-child(1)::before {
                  content: "■ ";
                }

                > span {
                  width: 100%;
                  border-bottom: 1px solid var(--text-color);
                }
              }
            }

            .todo-description-container {
              width: 100%;
              display: flex;
              /* flex-direction: row; */
              align-items: start;

              > span {
                min-width: 20px;
                text-wrap: nowrap;
                padding-top: 1px;
                margin-right: 10px;

                .fa-angle-right {
                  margin-right: -3px;
                }
              }

              .todo-description-subtask {
                width: calc(100% - 30px);
                display: flex;
                flex-direction: column;
                align-items: start;
              }

              .divider {
                margin-bottom: 10px;
              }

              .todo-description {
                width: 100%;
                overflow-wrap: break-word;
                text-wrap: wrap;
                white-space: normal;
                padding-bottom: 5px;
              }

              .todo-subtask {
                .subtask-counter {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  font-weight: 900;
                }

                li {
                  width: 100%;
                  overflow-wrap: break-word;
                  text-wrap: wrap;
                  white-space: normal;

                  display: flex;
                  align-items: start;
                }

                li:has(:is(.fa-check, .fa-circle-xmark, .fa-square-check))
                  > div {
                  text-decoration: line-through;
                  color: var(--neutral-400);
                }

                .mono-theme:has(
                    :is(.fa-check, .fa-circle-xmark, .fa-square-check)
                  )::after {
                  /* content: '\2714'; */
                  content: "";
                  text-decoration: none;
                  color: var(--text-color);
                  display: inline-block;
                  margin-left: 5px;
                  font-size: smaller;
                }

                .color-theme:has(
                    :is(.fa-check, .fa-circle-xmark, .fa-square-check)
                  )
                  > div::after {
                  content: " ✨";
                  text-decoration: none;
                  color: var(--text-color);
                  display: inline-block;
                  margin-left: 5px;
                  font-size: smaller;
                }
              }
            }

            .todo-deadline-copy {
              width: 100%;
              display: flex;
              align-items: end;
              justify-content: left;

              .todo-deadline-counter {
                font-size: 0.8rem;

                .display-number {
                  color: var(--schedule-half);
                  font-size: 1rem;
                  font-weight: 600;
                }
              }

              .todo-id {
                cursor: pointer;
                text-align: right;
                color: var(--text-color);
                margin-left: auto;
                white-space: nowrap;
                margin-right: -10px;
              }

              .todo-id::before {
                content: "〔";
              }

              .todo-id::after {
                content: "〕";
              }
            }
          }
        }

        .disabled {
          color: var(--neutral-500);

          .fa-circle-check,
          .fa-circle-exclamation,
          .todo-schedule-display {
            color: var(--neutral-500) !important;
          }
        }
      }
    }

    details[open] .fa-angles-right {
      transform: rotate(90deg);
      transition: transform 0.5s ease;
    }

    details:not([open]) .fa-angles-right {
      transform: rotate(0);
      transition: transform 0.5s ease;
    }

    details[open] .fa-folder-closed,
    details[open] .fa-box-archive {
      display: none;
    }

    details:not([open]) .fa-folder-open,
    details:not([open]) .fa-inbox {
      display: none;
    }
  }
}

#todo-schedule {
  .todo-item {
    .todo-summary {
      .priority-indicator {
        display: none;
      }

      p {
        width: 100%;
        text-align: left;

        span {
          color: var(--schedule-color);
          font-weight: bold;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

#todo-schedule {
  .todo-id::before,
  .todo-id::after {
    color: var(--schedule-color);
  }
  .open {
    color: var(--schedule-color);
  }
  .fa-angle-right:nth-child(1) {
    color: var(--schedule-color);
  }
  .fa-angle-right:nth-child(2) {
    color: var(--schedule-half);
  }
  .fa-angle-right:nth-child(3) {
    color: var(--text-color);
  }
  .todo-description {
    .fa-check,
    .fa-circle-xmark,
    .fa-square-check {
      color: var(--schedule-color);
    }
  }
  .todo-deadline-stats-label {
    color: var(--schedule-half);
  }
  .subtask-item:has(.fa-link) {
    span {
      color: var(--schedule-ratio-color);
    }
  }
}
#todo-priority {
  .todo-id::before,
  .todo-id::after {
    color: var(--priority-color);
  }
  .open {
    color: var(--priority-color);
  }
  .fa-angle-right:nth-child(1) {
    color: var(--priority-color);
  }
  .fa-angle-right:nth-child(2) {
    color: var(--priority-half);
  }
  .fa-angle-right:nth-child(3) {
    color: var(--text-color);
  }
  .todo-description {
    .fa-check,
    .fa-circle-xmark,
    .fa-square-check {
      color: var(--priority-color);
    }
  }
  .todo-deadline-stats-label {
    color: var(--priority-half);
  }
  .subtask-item:has(.fa-link) {
    span {
      color: var(--priority-ratio-color);
    }
  }
}
#todo-items {
  .todo-id::before,
  .todo-id::after {
    color: var(--task-color);
  }
  .open {
    color: var(--task-color);
  }
  .fa-angle-right:nth-child(1) {
    color: var(--task-color);
  }
  .fa-angle-right:nth-child(2) {
    color: var(--task-half);
  }
  .fa-angle-right:nth-child(3) {
    color: var(--text-color);
  }
  .todo-description {
    .fa-check,
    .fa-circle-xmark,
    .fa-square-check {
      color: var(--task-color);
    }
  }
  .todo-deadline-stats-label {
    color: var(--task-half);
  }
  .subtask-item:has(.fa-link) {
    span {
      color: var(--task-ratio-color);
    }
  }
}
#todo-finish {
  .todo-id::before,
  .todo-id::after {
    color: var(--complete-color);
  }
  .open {
    color: var(--complete-color);
  }
  .fa-angle-right:nth-child(1) {
    color: var(--complete-color);
  }
  .fa-angle-right:nth-child(2) {
    color: var(--complete-half);
  }
  .fa-angle-right:nth-child(3) {
    color: var(--text-color);
  }
  .todo-description {
    .fa-check,
    .fa-circle-xmark,
    .fa-square-check {
      color: var(--complete-color);
    }
  }
  .todo-deadline-stats-label {
    color: var(--complete-half);
  }
  .subtask-item:has(.fa-link) {
    span {
      color: var(--complete-ratio-color);
    }
  }
}

#todo-instruction {
  .fa-circle-check,
  .fa-circle-exclamation,
  .todo-id::before,
  .todo-id::after {
    color: var(--instruction-color);
  }
  .open {
    color: var(--instruction-color);
  }
  .fa-angle-right:nth-child(1) {
    color: var(--instruction-color);
  }
  .fa-angle-right:nth-child(2) {
    color: var(--instruction-half);
  }
  .fa-angle-right:nth-child(3) {
    color: var(--text-color);
  }
  .todo-description {
    .fa-check,
    .fa-circle-xmark,
    .fa-square-check {
      color: var(--instruction-color);
    }
  }
  .todo-deadline-stats-label {
    color: var(--instruction-half);
  }
  .subtask-item:has(.fa-link) {
    span {
      color: var(--instruction-ratio-color);
    }
  }
}
