@import "bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap/scss/forms/form-select";
@import "/node_modules/bootstrap/scss/forms/form-control";
@import "/node_modules/bootstrap/scss/buttons";

.todo-item-option-button{
    all: unset;
    display: inline-block;
    margin: 0;
    background: none;
    text-transform: none;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 0 5px;
}

.todo-item-option-button::after{
    content: none;
}

.dropdown-item{
    width: 160px;
}

.form-control::placeholder{
    color: #6c757d;
    font-style: italic;
    opacity: 1;
}

.input-group {
    > .form-select{
        flex: none;
        appearance: none;
        outline: none;
        box-shadow: none;
        font-family: var(--base-font-family);
        text-align: center;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23eee7e7' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
        cursor: pointer;
        
        div{
            width: fit-content;
        }
        
        option{
            border: none;
            outline: none;
            box-shadow: none;
            text-align: center;
        }
        
        option:hover{
            cursor: pointer;
        }
    }
} 

.btn:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

.input-group-text{
    background-color: rgb(52, 58, 64);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23d6d8dc' d='M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z'/%3E%3C/svg%3E");
    cursor: pointer;
}